/* typography */
/* 
* {
    margin: 0;
    padding: 0;
} */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #14AFE3;
    background-color: #F9F9F9;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 90%;
    overflow: hidden;
    margin: 0 auto;
}

a {
    font-size: 1rem;
    text-decoration: none;
    color: #000;
}

h1, h2 {
    color: #003772;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.7rem;
}

p {
    font-size: 1rem;
    color: #000;
    font-weight: 600;
    line-height: 20px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    padding: 0;
}

.current {
    border-bottom: 2px solid #003772;
}

/* images */
.windows {
    max-width: 500px;
}
/* header */

header {
    border-bottom: 4px solid #003772;
    margin-bottom: 0;
}
    nav {
        display: flex;
        justify-content: space-between;
        height: 6vh;
    }

        .nav-links {
            width: 40%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
            .nav-links li {
                list-style: none;
            }
        .burger {
            display: none;
        }
            .burger div {
                background-color: #000;
                width: 25px;
                height: 2px;
                margin: 5px;
            }

    header h2 {
        margin: 0 !important;
    }

    header a:hover {
        color: #003772;
    }


/* landing image */
.landing {
    background-image: url("img/bg.jpg");
    background-size: cover;
    background-position-y: center ;
    min-height: 450px;
    text-align: center;
    color: #FFF;
    box-sizing: border-box;
}
    .dark-bg {
        box-sizing: border-box;
        padding: 90px 0;
        min-height: 450px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        margin: 0 auto;
    }
    .landing p {
        color: #FFF;
        max-width: 90%;
        font-size: 1.2rem;
        text-align: center;
        margin: 20px auto;
    }

    .btn {
        font-size: 0.9rem;
        padding: 10px 30px;
        color: #FFF;
        background-color: #14AFE3;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        border-radius: 8px;
    }
        .btn:hover {
            background-color: #003772;
        }

    .landing h1 {
        color: #FFF;
        font-size: 3rem;
    }


/* about page */
.about {
    display: flex;
    max-width: 90%;
    justify-content: space-between;
    margin: 50px auto;
    margin-top: 0;
}
    .section-one {
        max-width: 48%;
        margin: 0 auto;
    }

    .about a {
        color: #003772;
    }
        .about a:hover {
            font-weight: bolder;
        }

/* how it works */
.how-it-works {
    max-width: 70%;
    min-height: 500px;
    padding: 0;
    background-color: #e4edf0;
    overflow: hidden;
    margin: 50px auto;
    margin-top: 0;
}
    .work-pictures {
        overflow: visible;
        max-width: 35%;
        background-color: #b1d4d49a;
        min-height: 100%;
        margin: 0;
    }
        .work-img {
            margin: -10px 80px;
            box-sizing: border-box;
            padding: 10px 30px;
            border: 2px solid #14AFE3;
            width: 350px;
            height: 150px;
            display: block;
            margin-bottom: 70px;
        }

    .work-text {
        height: 100%;
        width: 250%;
    }
        .work-text h2 {
            margin-top: 5px;
            text-align: right;
        }

        .work-head {
            color: #003772;
            font-size: 1.3rem;
        }
        .work-head, .work-p {
            margin: 5px 0;
            font-weight: 600;
        }

        .work-p {
            font-size: 0.9rem;
            margin-bottom: 20px;
        }

        .work-body {
            display: flex;
            justify-content: space-evenly;
            max-height: 200px;
        }
            .work-body-1 {
                margin-top: 40px;
            }
        
        .work-number {
            background-color: #14AFE3;
            color: #FFF;
            padding: 4px 7px;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            display: table-cell;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 5px;
        }

/* PRICE */
#price-page {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.price-cont {
    overflow: hidden;
    max-width: 50%;
}

.coupon {
    max-width: 100%;
    margin: 25% 0;
    border-radius: 20px;
    box-shadow: black;
}

.price {
    width: 350px;
    margin: 0 auto;
    padding: 20px 0;
    color: #FFF;
    background-color: #14AFE3;
}

    .price h2 {
        font-size: 3rem;
        margin-bottom: 10px;
        margin-top: 0;
    }

    .price p {
        margin-bottom: 15px;
        color: #FFF;
    }

    .price hr {
        color: #FFF;
        max-width: 70%;
        margin: 10px auto;
    }

    .price input {
        color: #FFF;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        padding: 10px 20px;
        background-color: #003772;
        outline: none;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        cursor: pointer;
    }

        .price input:hover {
            background-color: #14AFE3;
            border: 2px solid #003772;
        }
/* contact us */
.contact-us {
    max-width: 68%;
    margin: 50px auto;
    margin-top: 30px;
    text-align: center;
    border: 2px solid #003772;
    border-radius: 10px;
    padding: 10px;
}
    .flex {
        margin: 0 auto;
        max-width: 95%;
        justify-content: space-between;
        display: flex;
    }

    .flex input {
        width: 48%;
        border: 0;
        border-bottom: 2px solid #003772;
        border-radius: 5px;
        padding: 10px 5px;
        background-color: #F9F9F9;
    }

    form input::placeholder {
        color: #14AFE3;
        font-weight: 600;
    }


    form input[type=button] {
        color: #FFF;
        background-color: #14AFE3;
        text-transform: uppercase;
        border: none;
        padding: 10px 10px;
        width: 30%;
        margin-top: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 600;
        letter-spacing: 2px;
    }
        form input[type=button]:hover {
            background-color: #003772;
        }

/* margin fix */
section {
    margin-top: 0;
    margin-bottom: 50px;
}

/* footer */
footer {
    min-height: 400px;
    color: #FFF;
    background-color: #003772;
    text-align: center;
    padding: 70px 0 30px 0;
    box-sizing: border-box;
}

    .start-testing {
        max-width: 50%;
        margin: 0px auto;
        padding-bottom: 70px;
    }
        .start-testing h1 {
            margin-top: 0;
            color: #FFF;
        }
    footer p {
        color: #FFF;
    }

    footer .btn:hover {
        color: #FFF;
        border: 1px solid #FFF;
    }

    .footer-flex {
        margin-top: 30px;
        padding: 40px 20%;
        color: #000;
        background-color: #FFF;
        display: flex;
        /* justify-content: space-evenly; */
    }
        .footer-flex h2, h3 {
            margin: 0 auto;
        }

        .footer-flex h2 {
            margin-right: 10px;
        }
        
        .footer-flex p {
            color: #000;
            margin: 0;
            text-align: center;
        }
    .footer-box {
        padding: 20px 0;
        background-color: #e4edf0;
        color: #14AFE3;
        display: flex;
    }
        .footer-box p {
            color: #14AFE3;
            font-weight: 600;
        }

        .footer-item {
            max-width: 35%;
            margin: 0 auto;
        }
            footer a:hover {
                color: #003772;
            }



/* navbar space fix */
@media screen and (max-width: 1024px) {
    .nav-links {
        width: 50%;
    }
}

/* media queries for tabs */

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.3rem;
    }


    .nav-links {
        position: absolute;
        right: 0;
        top: 6vh;
        height: 44vh;
        background-color: #F9F9F9;
        flex-direction: column;
        align-items: center;
        width: 70%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
        .nav-links li {
            opacity: 0;
        }

    .burger {
        display: block;
        cursor: pointer;
    }
    
    .nav-active {
        transform: translateX(0);
    }
    
    .landing {
        min-height: 400px;
    }
        .dark-bg {
            min-height: 400px;
            padding: 100px 0;
        }
        
        .landing h1 {
            font-size: 2rem;
        }
    .about {
        text-align: center;
        margin: 20px auto;
        max-width: 80%;
        flex-direction: column;
    }
        .section-one {
            max-width: 100%;
        }

        .windows {
            max-width: 90%;
        }

        .section-one h1 {
            font-size: 1.5rem;
        }

        #price-page {
            display: block;
            max-width: 80%;
        }

            .price-cont {
                margin: 10px auto;
                max-width: 100%;
            }

            .coupon {
                max-width: 100%;
            }


        /* how it works */
        .how-it-works {
            max-width: 80%;
        }

            .work-pictures {
                width: 100%;
                height: 100%;
                background-color: #e4edf0;
            }

            .work-body {
                text-align: center;
                display: block;
                width: 100%;
                overflow: hidden;
            }

            .work-text {
                padding: 0 20px;
            }

            .work-text h2 {
                text-align: center;
            }

            .work-img {
                max-width: 90%;
                margin: 0 10%;
                display: none;
            }

            .work-number {
                margin: 10px auto;
            }

    #price-page, .contact-us {
        max-width: 80%;
    }

    .flex {
        max-width: 100%;
        display: block;
    }

    .flex input {
        width: 96%;
    }

    /* footer */
    footer h1 {
        font-size: 1.5rem;
    }
        footer h2, h3 {
            font-size: 1.2rem;
        }

        footer p, a {
            font-size: 0.9rem;
        }

    .footer-flex {
        padding: 20px 5px;
        text-align: center;
        display: block;
    }
        .footer-flex h2, .footer-flex h3 {
            text-align: center;
            margin: 5px auto;
        }

        .footer-flex p {
            text-align: center;
        }
}


/* phones */
@media screen and (max-width: 500px) {
    header nav {
        max-width: 90%;
    }

    header li {
        padding-right: 10px;
    }

    .landing {
        min-height: 350px;
    }

}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}